.DS_Store
.build/
DerivedData/
.derivedData/
.deviceDerivedData/
.deviceBuildValidation/
.finalDerivedData/
.typecheckCache/
.swiftpm-cache/
.swiftpm-module-cache/
.swiftpm-config/
.swiftpm-security/
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
